.hero {
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.05em;
  font-weight: 800;
}

.description {
  font-size: var(--text-md);
  line-height: 1.4;
  color: var(--secondary-color);
  margin-top: 0;
  margin-left: 24px;
}
